:root {
  --green: #23be53;
  --black: #060608;
  --grey: #333333;
  --base: #e7dfdd;
}

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--base);
  background-color: var(--black);
  font-family: "Inter";
}
